html, body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

nav .nav-wrapper{
	background-color: black;
}

nav {
  border-bottom: 1px solid #FDB515;
}

.brand-logo {
  margin-left: 3% !important;
	color: #FDB515 !important;
}

.star-logo {
  position: relative;
  width: 70px;
  height: auto;
  top: 10px;
  margin-right: 4%;
}

.button-collapse {
  color: #FDB515;
}

nav ul a {
	color: #FDB515 !important;
}

.side-nav {
  padding-top: 5%;
  width: 30% !important;
}